@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

canvas {
    margin: 0px auto;
}

.info-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    padding: 16px;
    background: #0005;
    text-align: left;
    color: #bbb;
    font-size: 12px;
    font-family: sans-serif;
}

.variable-info {
    margin-bottom: 8px;
}

#volume-bar {
    height: 2px;
    background: lightgreen;
    margin-bottom: 32px;
}

#audio-start {
    padding: 16px 32px;
    margin-bottom: 4px;
    border: none;
    border-radius: 4px;
    background: #fff;
    color: #000;
    cursor: pointer;
    user-select: none;
}

.code-link {
    margin-top: 8px;
}

.info-panel a {
    color: rgb(101, 133, 202);
    text-decoration: none;
}
